
.container-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img{
  
        width: 100%;
         display: block;
        margin-left: auto;
        margin-right: auto;
    
}
 @media (min-width: 992px)
   {
     /* friens */
    .desc-head th{
        font-size: 1.3em;
    }
    .desc-body td{
        font-size: 1.2em;
    } 
    /* bio,now */
    .col-lg-4{
        flex-basis: 33.3%;
    }
    .col-lg-6{
        flex-basis: 50%;
    }
    .idex-flex
    {
        flex-basis: 25%;
    }
    /* gallery */
    .lg-4{
        flex-basis: 33.3%;
    }
  }
  @media (min-width: 768px) and (max-width: 991px)
   {
    /* friens */
    .tab-head th{
        font-size: 1.2em;
    }
    .tab-body td{
        font-size: 1.1em;
    }
    /* bio,now */
    .col-md-6{
        flex-basis: 50%;
    }
    .col-md-12{
        flex-basis: 100%;
    }

    .idex-flex
    {
        flex-basis: 50%;
    }
    /* gallery */
    .md-6{
        flex-basis: 50%;
    }
    .md-12{
        flex-basis: 100%;
    }
    }
  @media (max-width: 767px)
  {
    /* friens */
    .mobil-head
    th{
        font-size: 1.1em;
    }
    
    /* bio,now */
    .col-sm-12{
        flex-basis: 100%;
    }


    .idex-flex
    {
        flex-basis: 100%;
    }
    /* gallery */
    .sm-12{
        flex-basis: 100%;
    }

}
  
/* biografy */
.conteiner-nowadays, .container-biography
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

.colored-button:link {
    background-color: rgb(106, 106, 215);
    color: rgb(37, 39, 20);
    border: 2px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid rgb(1, 1, 1);
}

.colored-button:hover {
    background-color: magenta;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid purple;
}

.colored-button:active {
    background-color: yellow;
    color: green;
    text-decoration: none;
    border: 2px solid rgb(83, 35, 204);
}

 #bazik-info, #c1:nth-child(even) {
    background-color: rgba(6, 252, 252, 0.921);
    color: rgb(10, 112, 83);
  
}

#childhood, #c2:nth-child(even) {
    background-color: rgb(71, 32, 82);
    color: rgb(245, 128, 173);
   
}

 #shool-years, #c3:nth-child(even) {
    background-color: rgb(31, 100, 63);
    color: rgb(245, 247, 205);
   
}

#outside-of-shool, #c4:nth-child(even) {
    background-color: rgb(203, 206, 31);
    color: rgb(98, 18, 195);
}

#university, #c5:nth-child(even)
 {
    background-color: rgb(225, 77, 227);
    color: rgb(70, 7, 54);
}
#university, #outside-of-shool, #shool-years, #childhood, #bazik-info
{
    font-size: 1em;
    border: solid 1px;
}
.biography-h1 {
    text-align: center;
    font-size: 22px;
}

.biography-nazad-na-golovny{
 font-style: italic;
 text-decoration: none;

}
.biography-do-zmisty
{
font-weight: bold;
text-decoration: none;
font-size: 1.2em;
}

.biography-h3 {
    text-align: center;
}

 .biography-p {
    font-size: 120%;
}

.biography-h2 {
    font-size: 180%;
    color: #000000  !important;
}

.biography-uppercase {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
}
/* friends */
  table {
      border-collapse: collapse;
      width: 100%;
  }

  table,
  th,
  td {
      border: 1px solid black;
  }

  th,
  td {
      padding: 8px;
      text-align: left;

  }

  table tbody tr:nth-child(odd) {
      background-color: gray;
      color: #fff;
  }

  #d1 {
      background-color: gray;
      color: #fff;
  }

  #d2 {
      background-color: gray;
      color: #fff;
  }

  #d3 {
      background-color: gray;
      color: #fff;
  }

  #d4 {
      background-color: gray;
      color: #fff;
  }

  table tbody tr :nth-child(even) {
      background-color: white;
      color: black;
  }

  #f1 {
      background-color: white;
      color: black;
  }

  #f2 {
      background-color: white;
      color: black;
  }

  #f3 {
      background-color: white;
      color: black;
  }

  #f4 {
      background-color: white;
      color: black;
  }

  .friends-h1 {
      text-align: center;
      font-size: 22px;
  }

  .friends-nazad{
      font-style: italic;
      text-decoration: none;

  }

      .friends-h2 {
      text-align: center;
  }

  tr>th {
      text-align: center;
      background-color: green;
      font-weight: bold;
      color: rgb(255, 255, 255);
  }

  tr>td:nth-child(5) {
      text-align: right;
  }
/* gallery */

.gallery-h1 {
    text-align: center;
    font-size: 20px;
}

.gallery-golovna {
    font-style: italic;
    text-decoration: none;
}

.gallery-h2 {
    text-align: center;
}

.gallery-zob-1 {
    font-size: 16.8px;
    text-align: center;
}

.gallery-zob-2 {
    font-size: 31.2px;
    text-align: center;
}

.gallery-zob-3{
    font-size: 40.56px;
    text-align: center;
}

/* .gallery-img {
    display: block;
    margin: 0 auto;
} */
/* index */
.link-index{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 .idex-flex
{
    text-align: center;
    margin-bottom: 10px;}
 
/* 1  */

.index-body >.index-p
{
    font-size: 1.2em;
}
#index-biography:link {

    color: #f9008d;
    text-decoration: none;
}

#index-biography:hover {
    color: #b210e3;
    text-decoration: none;
}

#index-biography:visited {
    color: #420c63;
    text-decoration: none;
}

/* 2 */
#index-nowadays:link {

    color: #d7e90f;
    text-decoration: none;
}

#index-nowadays:hover {
    color: rgb(23, 65, 65);
    text-decoration: none;
}

#index-nowadays:visited {
    color: #00fc65;
 text-decoration: none;
}

/* 3 */
#index-friends:link {

    color: #c05d92;
    text-decoration: none;
}

#index-friends:hover {
    color: #ee0c0c;
    text-decoration: none;
}

#index-friends:visited {
    color: rgb(185, 143, 70);
    text-decoration: none;
}

/* 4 */
#index-gallery:link {

    color: #3c786e;
    text-decoration: none;
}

#index-gallery:hover {
    color: #fb08b6;
    text-decoration: none;
}

#index-gallery:visited {
    color: #767812;
    text-decoration: none;
}

.index-h1 {
    text-align: center;
    font-size: 24px;
    text-decoration: none;
}



.index-p {
    font-size: 120%;
}
/* 1 */
#index-biography:link {

    color: #f9008d;
}

#index-biography:hover {
    color: #b210e3;
}

#index-biography:visited {
    color: rgb(154, 21, 21);
}

/* 2 */
#index-nowadays:link {

    color: #d7e90f;
}

#index-nowadays:hover {
    color: #0df0ec;
}

#index-nowadays:visited {
    color: #00fc65;
}

/* 3 */
#index-friends:link {

    color: #c05d92;
}

#index-friends:hover {
    color: #000000;
}

#index-friends:visited {
    color: #9087dc;
}

/* 4 */
#index-gallery:link {

    color: #3c786e;
}

#index-gallery:hover {
    color: #fb6908;
}

#index-gallery:visited {
    color: #767812;
}


/* nowadays */
  li>ul :nth-child(odd) {
      background-color: grey;
      color: white;
  }

  ul>li :nth-child(even) {
      background-color: white;
      color: black;
  }

  ol>li:nth-child(5):hover {
      cursor: pointer;
  }

  ol>li:nth-child(3):hover {
      cursor: pointer;
  }

  li li:nth-child(3) {
      cursor: pointer;
  }

  ol>li:nth-child(4):hover {
      background-color: brown;
  }

  .nowadays-h1 {
      text-align: center;
      font-size: 22px;
  }

  .nowadays-link {
      font-style: italic;
      text-decoration: none;
  }

  .nowadays-h2 {
      text-align: center;
  }
